* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  max-width: 1500px;
  margin: auto;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-item {
  flex: auto;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

header {
  padding: 30px 40px 20px 40px;
}

#home #loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#home .loader {
  position: fixed;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #061016;
  width: 100px;
  height: 100px;
  animation: spin 2s;
  opacity: 0;
  top: 100px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
#home header, #home main, #home footer {
  opacity: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#home header, #home main, #home footer {
  animation: fadein 0.5s ease-in 2s;
  animation-fill-mode: forwards;
}

#header-home .header--logo {
  width: 70%;
}
#header-home .location {
  width: 30%;
  border-radius: 20px;
  background-color: rgb(234, 234, 234);
}
#header-home i {
  padding: 0 10px;
}
#header-home p {
  text-decoration-color: #575757;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  #header-home {
    padding: 20px 0 0px 0;
  }
  #header-home .flex-item {
    flex: 100%;
    text-align: center;
  }
  #header-home img {
    padding-bottom: 10px;
  }
  #header-home .location {
    border-radius: 0px;
    box-shadow: inset 0 4px 4px rgba(112, 110, 110, 0.2);
  }
  #header-home i {
    padding-left: 0;
  }
  #header-home p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
#home h2 {
  font-weight: 600;
  font-size: 24px;
}

#reserve {
  border-top: 1px solid #575757;
  background-color: rgb(246, 246, 246);
  padding-bottom: 60px;
  z-index: 0;
}
#reserve h1, #reserve p {
  text-align: center;
}
#reserve p {
  font-size: 18px;
  font-weight: 400;
}
#reserve div {
  text-align: center;
  margin-top: 40px;
}
#reserve .button {
  color: white;
  height: 50px;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 4px rgba(129, 128, 128, 0.2);
}
#reserve .button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 4px rgba(77, 77, 77, 0.2);
}

#fonctioning {
  padding: 40px 20px 50px 20px;
}
#fonctioning h2 {
  margin: 10px 0 30px 0;
}
#fonctioning .flex-container {
  justify-content: center;
}
#fonctioning .flex-item {
  margin-bottom: 20px;
  margin-right: 15px;
}
#fonctioning .pill-corner {
  border: 1px #F2F2F2;
  border-radius: 20px;
  margin: 0 20px 0 10px;
  padding-right: 20px;
  width: fit-content;
  height: 70px;
  background-color: rgb(246, 246, 246);
}
#fonctioning .round-corner {
  margin: -16px -16px;
  padding: 5px 9px 4px 9px;
  border-radius: 50%;
  color: white;
  background: #9356DC;
  font-size: 13px;
  font-weight: 400;
}
#fonctioning i {
  color: rgb(134, 134, 134);
  padding: 0 30px 0 40px;
}
#fonctioning .button {
  font-weight: 500;
  font-size: 18px;
}
#fonctioning a {
  color: black;
}
#fonctioning a:hover {
  background-color: rgb(245, 237, 255);
}
#fonctioning a:hover i {
  color: #9356DC;
}
#fonctioning a:hover .pill-corner {
  background-color: rgb(245, 237, 255);
}

@media only screen and (max-width: 768px) {
  #reserve {
    border-top: none;
  }
  #reserve h1 {
    font-size: 25px;
    margin: 0;
    padding: 50px 25px 0px 25px;
  }
  #reserve p {
    padding-left: 25px;
    padding-right: 25px;
  }
  #fonctioning .flex-item {
    flex: 100%;
  }
  #fonctioning .pill-corner {
    width: 100%;
  }
}
#restaurants {
  padding: 40px 20px 30px 20px;
  background-color: rgb(246, 246, 246);
}
#restaurants .article--img-box {
  border-radius: 20px;
  background-color: white;
  margin: 2% 1%;
  box-shadow: 0 4px 8px 0 rgba(129, 128, 128, 0.2);
}
#restaurants h2 {
  margin: 20px 0;
}
#restaurants img {
  height: 150px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  object-fit: cover;
}
#restaurants .flex-item {
  flex: 0%;
}
#restaurants .flex-row {
  padding: 0 5%;
}
#restaurants .description-flex-item {
  flex: 90%;
}
#restaurants .icon-flex-item {
  flex: 10%;
  margin-bottom: 5%;
}
#restaurants h3 {
  margin-bottom: 0;
  margin-top: 5%;
}
#restaurants p {
  margin-top: 2%;
}
#restaurants .article--img-box {
  position: relative;
  z-index: 0;
}
#restaurants .article--img-box button {
  border: none;
  background-color: #99E2D0;
  color: rgb(19, 146, 115);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 3px;
}
#restaurants .new-tag {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  #restaurants .flex-item {
    flex: 100%;
  }
  #restaurants .article--img-box {
    margin: 3% 0;
  }
  #restaurants .article--img-box:first-child {
    margin: 0 0 3% 0;
  }
  #restaurants .article--img-box:last-child {
    margin: 3% 0 10% 0;
  }
  #restaurants img {
    height: 150px;
  }
}
.fa-heart {
  font-size: 24px;
}

.fill-heart-icon {
  --fa-display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

a:hover .empty-heart-icon {
  --fa-display: none;
}
a:hover .fill-heart-icon {
  --fa-display: inline-block;
}

.fill-heart-icon:hover {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  opacity: 1;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

footer {
  padding: 30px 40px 20px 40px;
  background-color: rgb(53, 53, 53);
}
footer img {
  filter: invert(100%);
}
footer .fa-utensils {
  font-size: 14px;
}
footer .fa-handshake-angle {
  font-size: 11px;
}
footer .footer__icon {
  float: left;
  width: 25px;
}
footer div {
  margin: 10px 0 0 0;
}
footer a {
  color: white;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 20px;
  }
  footer .flex-item {
    flex: 100%;
  }
  footer .footer--logo {
    margin-bottom: 10px;
  }
}
.menu__header {
  text-align: center;
}
.menu__header a {
  display: block;
}
.menu__header .header__icon {
  flex: 10%;
}
.menu__header .header__icon i {
  font-size: 20px;
  color: rgb(53, 53, 53);
}
.menu__header .header__logo {
  flex: 90%;
  margin-left: -10%;
}

.menu__img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  z-index: -1;
}

.menu__article {
  position: relative;
  border-radius: 30px 30px 0 0;
  margin: -50px 0 0 0;
  padding-bottom: 90px;
  background-color: rgb(246, 246, 246);
  width: 100%;
  z-index: 0;
}
.menu__article .flex-row {
  align-items: flex-end;
}

.article__h1 {
  flex: 85%;
}
.article__h1 h1 {
  margin: 40px 20px 0 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

.article--heart-icon {
  flex: 15%;
}

h2 {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin: 40px 10px 10px 10px;
}

hr {
  width: 40px;
  border: 2px solid #99E2D0;
  color: #99E2D0;
  position: absolute;
  left: 20px;
  margin: -4px 0 0 0;
}

.menu--courses {
  margin: 20px 10px 10px 10px;
}
.menu--courses h2 {
  font-size: 17px;
}
.menu--courses .flex-item {
  flex: 0%;
}

.button__submit {
  text-align: center;
  margin: 55px 0 0 0;
}
.button__submit button {
  box-shadow: 0 4px 8px 4px rgba(129, 128, 128, 0.2);
}

.button--order {
  color: white;
  height: 50px;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 0 50px;
}
.button--order:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 4px rgba(77, 77, 77, 0.2);
}

.dish-box {
  height: 75px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(129, 128, 128, 0.2);
  margin-top: 20px;
  overflow: hidden;
  opacity: 0;
}
.dish-box .check-button {
  display: none;
  border: none;
  border-radius: 0 15px 15px 0;
  height: 78px;
  width: 100px;
  text-align: center;
  background-color: #99E2D0;
}
.dish-box .check-button .fa-check {
  color: #99E2D0;
  border-radius: 50%;
  padding: 4px 5px;
  margin-top: 25px;
  background-color: white;
}
.dish-box .flex-item-left {
  flex: 85%;
  min-width: 0;
}
.dish-box .flex-item-left h3 {
  margin: 15px 5px 7px 10px;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish-box .flex-item-left p {
  margin: 0 5px 0 10px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish-box .flex-item-right {
  flex: 15%;
}
.dish-box .flex-item-right p {
  font-weight: 500;
  margin: 0;
  text-align: center;
}
.dish-box .dish-desc:hover .desc-flex-item {
  flex: auto;
}
.dish-box .dish-desc:hover .flex-item-left {
  flex: 80%;
  padding-bottom: 18px;
}
.dish-box .dish-desc:hover .flex-item-right {
  flex: 20%;
  padding-bottom: 18px;
}
.dish-box .dish-desc:hover .icon-block {
  display: inline-block;
  animation: turn 0.5s;
}
.dish-box .dish-desc:hover .check-button {
  display: inline-block;
  animation: slide 0.5s;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes turn {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn-Y {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.dish-box {
  animation: slideIn-Y 500ms;
  animation-fill-mode: forwards;
}

.dish-box:nth-child(1) {
  animation-delay: 0.25s;
}

.dish-box:nth-child(2) {
  animation-delay: 0.5s;
}

.dish-box:nth-child(3) {
  animation-delay: 0.75s;
}

.dish-box:nth-child(4) {
  animation-delay: 1s;
}

@media only screen and (max-width: 768px) {
  .menu__article .menu--courses .flex-item {
    flex: 100%;
  }
  .menu__header {
    padding: 30px 10px 20px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
