* {
    box-sizing: border-box;
  }

  $color-primary: #9356DC;
  $color-secondary: #FF79DA;
  $color-tertiary: #99E2D0;
  $color-quaternary: rgba(246,246,246,255);
  $icon-base-color: rgba(134,134,134,255);
  $a-hover-color: rgba(245,237,255,255);

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 1500px;
    margin: auto;
  }

  p {
    font-weight: 100;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

    .flex-item {
        flex: auto;
      }

      .flex-row {
        display: flex;
        flex-wrap: nowrap;
        font-size: 16px;
        align-items: center;
      }

  a {
    text-decoration: none;
  }

  header {
    padding: 30px 40px 20px 40px;

    .header--logo {
        width: 70%;
    }

    .position {
        width: 30%;
        border-radius: 20px;
        background-color: rgba(234,234,234,255);
    }

    i {
        padding: 0 10px;
    }

    p {
        text-decoration: underline;
        text-decoration-color: #575757;
    }
  }

  button {
    box-shadow: 0 4px 8px 4px rgba(129, 128, 128, 0.2);
  }
  
  #reserve {
    border-top: 1px solid #575757;
    background-color: $color-quaternary;
    padding-bottom: 30px;

    h1, p {
        text-align: center;
    }

    div {
        text-align: center;
        margin-top: 40px;
    }

    button {
        color: white;
        height: 50px;
        padding: 0 20px;
        border-radius: 30px;
        border: none;
        background-image: linear-gradient($color-secondary, $color-primary);

        &:hover {
            opacity: 0.8;
           
        }
    }
  }

  .pill-corner {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 10px 10px 10px 0px;
    margin: 0 10px;
    width: fit-content;
    height: 50px; 
    background-color: $color-quaternary;
  }

  .round-corner {
    margin: -10px -10px;
    padding: 1px 6px;
    border-radius: 50%;
    color: white;
    background: $color-primary;
  }

  #fonctioning {
    padding: 20px;

    .flex-container {
        justify-content: center;
    }

    .flex-item {
        margin-bottom: 20px;
    }

    i {
        color: $icon-base-color;
        padding: 0 20px;
    }

    a {
        color: black;

        &:hover {
            background-color: $a-hover-color;
            
            i {
                color: $color-primary
            }

            .pill-corner {
                background-color: $a-hover-color;
            }
        }
    }
  }

  .img-box {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin: 2% 1%;
    box-shadow: 0 4px 8px 0 rgba(129, 128, 128, 0.2);
  }

  #restaurants {
    padding: 20px;
    background-color: $color-quaternary;

    img {
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
    }

    .flex-item {
        flex: 0%;
    }

    .flex-row {
        padding: 0 5%;
    }

    .description-flex-item {
        flex: 90%;
    }

    .icon-flex-item {
        flex: 10%;
    }

    .bi-heart-fill {
        display: none;
        transition: background-color 5s ease;
    }

    a:hover {
        .bi-heart {
            display: none;
        }
        .bi-heart-fill {
            display: inline-block;
            background-color: (linear-gradient(to right, $color-secondary, $color-primary));
        } 
    }

    h3 {
        margin-bottom: 0;
    }

    p {
        margin-top: 2%;
    }
  }

  footer {
    padding: 30px 40px 20px 40px;
    background-color: rgba(53,53,53,255);

    img {
        filter: invert(100%);
    }

    div {
        margin: 10px 0 0 0;
    }

    a {
        color: white;
    }
  }

  @media only screen and (max-width: 768px) {
    .flex-item {
        flex: 100%;
    }

    body {
      font-size: 16px;     
    }

    header {
        padding: 20px 0 0px 0;

        .flex-item {
            flex: 100%;
            text-align: center;
        }

        img {
            padding-bottom: 10px;
        }

        .position {
            background-color: #F2F2F2;
            border-radius: 0px;
            box-shadow: inset 0 4px 4px rgba(112, 110, 110, 0.2);
        }

        i {
            padding-left: 0;
        }

        p {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #reserve {
     border-top: none;   
     h1 {
        font-size: 25px;
        margin: 0;
        padding: 50px 25px 0px 25px;
     }

  
    p {
        padding-left: 25px;
        padding-right: 25px;
    }
    }

    #fonctioning {
        .pill-corner {
            width: 100%;
        }
    }

    #restaurants {
        .flex-item {
            flex: 100%;
        }

        .img-box {
            margin: 3% 0;

            &:first-child {
                margin: 0 0 3% 0;
            }
            &:last-child {
                margin: 3% 0 10% 0;
            }
        }

        img {
            height: 200px;
        }
    }
}