.fa-heart {
    font-size: 24px;
}

.fill-heart-icon {
    --fa-display: none;
    opacity: 0;    
    transition: all .5s ease-in-out;  
}

a:hover {
    .empty-heart-icon {
        --fa-display: none;
    } 
    .fill-heart-icon {
        --fa-display: inline-block;
    }
}

.fill-heart-icon:hover {
    background: linear-gradient(to top, $color-secondary, $color-primary);
    opacity: 1;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
