#home {
    #loader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      .loader {
        position: fixed;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #061016;
        width: 100px;
        height: 100px;
        animation: spin 2s;
        opacity: 0;
        top: 100px;
      }
    
      @keyframes spin {
        0% { 
            transform: rotate(0deg);
            opacity: 0; 
        }
    
        50% {
            opacity: 1; 
        }
        100% { 
            transform: rotate(360deg);
            opacity: 0;
         }
      }
    
      header, main, footer {
        opacity: 0;
      }
    
      @keyframes fadein {
        0% { 
            opacity: 0; 
        }
        100% { 
            opacity: 1;
         }
      }
    
      header, main, footer {
        animation: fadein .5s ease-in 2s;
        animation-fill-mode: forwards;
      }
  }