@mixin box-shadow {
    box-shadow: 0 4px 8px 4px rgba(129, 128, 128, 0.2);
  }

@mixin pill-button {
color: white;
height: 50px;
padding: 15px 20px;
border-radius: 30px;
border: none;
background-image: linear-gradient(to right bottom, $color-secondary, $color-primary 120%);
}

@mixin button-hover {
    opacity: 0.8;
    box-shadow: 0 4px 8px 1px rgba(77, 77, 77, 0.4);     
}