#header-home {
    .header--logo {
        width: 60%;
    }

    .location {
        width: 40%;
        border-radius: 20px;
        background-color: rgba(234,234,234,255);
        padding: 15px;
    }

    i {
        padding: 0 10px;
        color: #262626;
    }

    input {
        border: none;
        background-color: rgba(234,234,234,255);
        font-weight: 500;
        color: #262626;

        &:focus {
            outline: none;
            background-color: rgba(234,234,234,255);
        }
    }
  }

  @media only screen and (max-width: 768px) {
    #header-home {
        padding: 20px 0 0px 0;

        .flex-item {
            flex: 100%;
            text-align: center;
        }

        img {
            padding-bottom: 10px;
        }

        .location {
            border-radius: 0px;
            box-shadow: inset 0 4px 4px rgba(112, 110, 110, 0.2);
        }

        i {
            margin-left: 60px;
        }

        .flex-row {
            justify-content: center;
        }
    }
  }