#home {
    h2 {
      font-weight: 600;
      font-size: 24px;
    }
  }

#reserve {
    border-top: 1px solid #575757;
    background-color: $color-quaternary;
    padding-bottom: 60px;
    z-index: 0;

    h1, p {
        text-align: center;
    }

    p {
        font-size: 18px;
        font-weight: 400;
    }

    div {
        text-align: center;
        margin-top: 40px;
    }

    .button {
        @include pill-button;
        @include box-shadow;

        &:hover {
            @include button-hover; 
        }
    }
  }

  #fonctioning {
    padding: 40px 20px 50px 20px;

    h2 {
        margin: 10px 0 30px 0;
    }

    .flex-container {
        justify-content: center;
    }

    .flex-item {
        margin-bottom: 20px;
        margin-right: 15px;
    }

    .pill-corner {
        border: 1px #F2F2F2;
        border-radius: 20px;
        margin: 0 20px 0 10px;
        padding-right: 20px;
        width: fit-content;
        height: 70px; 
        background-color: $color-quaternary;
      }
    
      .round-corner {
        margin: -16px -16px;
        padding: 5px 9px 4px 9px;
        border-radius: 50%;
        color: white;
        background: $color-primary;
        font-size: 13px;
        font-weight: 400;
      }

    i {
        color: $icon-base-color;
        padding: 0 30px 0 40px;
    }

    .button {
        font-weight: 500;
        font-size: 18px;
    }

    a {
        color: black;

        &:hover {
            background-color: $a-home-fonctioning;
            
            i {
                color: $color-primary;
            }

            .pill-corner {
                background-color: $a-home-fonctioning;
            }
        }
    }
  }

  @media only screen and (max-width: 768px) {
    #reserve {
        border-top: none;   
        h1 {
           font-size: 25px;
           margin: 0;
           padding: 50px 25px 0px 25px;
        }
   
     
       p {
           padding-left: 25px;
           padding-right: 25px;
       }
    }
   
    #fonctioning {
        .flex-item {
            flex: 100%
        }
        
        .pill-corner {
            width: 100%;
        }
    }
  }